* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 30px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: black;
}

/* Font */

.video {
    font-family: video-cond, serif;
    font-style: bold;
}

@font-face {
    font-family: SansSerifBookFLF;
    src: url('/font/SansSerifBookFLF.otf') format('oldtype');
}

.century {
    font-family: SansSerifBookFLF;
}

/* Fin font */

/* class communes */

.d-flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.m-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-auto  {
    margin: auto;
}

.w-100 {
    width: 100px;
}

.w-300 {
    width: 300px;
}

.text-center {
    text-align: center;
}

.align-end {
    align-items: end;
}


/* Fin classs communes */

/* header */

header {
    padding-top: 10px;
}

li {
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
}

/* Fin header */

/* Landing page */

#landing {
    height: 600px;
}

/* Fin landing page */

/* Infographies */

#info {
    height: 1000px;
}

#info1 {
    right: 10%;
}

#info2 {
    top: 250px;
    left: 10%;
}

#info3 {
    top: 500px;
    right: 25%;
}

/* Fin infograhpies */

/* Texte */

#asso {
    height: 500px;
}

#text {
    padding: 0 10%;
}

/* Fin texte */

footer {
    height: 300px;
    margin-top: 100px;
    padding-bottom: 10px;
}

/* Footer */

