* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* Font */

.video {
    font-family: video-cond, serif;
    font-style: bold;
}

@font-face {
    font-family: SansSerifBookFLF;
    src: url('/font/SansSerifBookFLF.otf') format('oldtype');
}

.century {
    font-family: SansSerifBookFLF;
    font-size: 20px;
}

/* Fin font */

/* class communes */

.d-flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.text-end {
    text-align: end;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.m-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-auto  {
    margin: auto;
}

.m-t-10 {
    margin-top: 100px;
}

.w-max {
    width: 100%;
}

.w-100 {
    width: 100px;
}

.w-300 {
    width: 300px;
}

.text-center {
    text-align: center;
}

.align-end {
    align-items: end;
}

.z5 {
    z-index: 5;
}

.white {
    color: white;
}

/* Fin classs communes */

/* header */

header {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FADAEA;
}

#fond-logo {
    width: 200px;
    left: -20px;
    top: -30px;
}

li {
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
}

#fond-menu {
    width: 300px;
    transform: rotate(30deg);
    top: -120px;
    right: -25px;
}

/* Fin header */

/* Landing page */

#landing {
    height: 600px;
    background-color: #FADAEA;
    padding-bottom: 20px;
    margin-right: 0;
}

h1 {
    background: rgb(149,159,192);
    background: linear-gradient(200deg, rgba(149,159,192,1) 0%, rgba(212,121,175,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    transition-property: all;
}

#t1 {
    display: block;
}

#t2 {
    display: none;
}

#t3 {
    display: none;
}

/* Fin landing page */

/* Infographies */

#info {
    height: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FADAEA;

}

#info1 {
    width: 40rem;
    right: 3%;
}

#fond-info1 {
    width: 900px;
    right: 3%;
    top: -50px;
    transform: translateX(15%);
}

#pastille1 {
    width: 250px;
    transform: rotate(45deg);
}

#info2 {
    width: 500px;
    top: 500px;
    left: 3%;
}

#fond-info2 {
    width: 800px;
    left: -9%;
    top: 400px;
    transform: translateX(20%);
    transform: rotate(20deg);
}
 #pastille2 {
    width: 250px;
    top: 600px;
    right: 3%;
    transform: rotate(145deg);
 }

/* Fin infograhpies */

/* ChartJS */

#chart {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FADAEA;
}

#myChart {
    width: 150px; 
}

/* Texte */

#asso {
    height: 500px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FADAEA;
}

.m-right {
    margin-right: 100px;
}

.justify {
    text-align: justify;
}

/* Fin texte */

/* Footer */

footer {
    height: 300px;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FADAEA;
}

.margin-footer {
    margin-top: 60px;
}

.margin-social {
    margin-right: 30px;
}

.size-social {
    width: 30px;
}

/* Responsive */

@media screen and (max-width: 850px){

    body {
        overflow-x: hidden;
    }
    
    /* Partie infographie */

    #info { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1100px;
        padding-bottom: 50px;
    }

    #pastille1 {
        display: none;
    }

    #pastille2 {
        display: none;
    }

    #fond-info1 {
        width: 110%;
    }

    #info1 {
        width: 80%;
        top: -1%;
    }

    #fond-info2 {
        width: 100%;
        top: 37%;
    }
    
    #info2 {
        width: 65%;
        top: 43%;
        left: 60px;
    }

    /* Fin partie infographie  */

    /* Texte */

    #asso {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 50px;
    }

    #text {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    #text div {
        margin-right: 0;
    }
}